<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_item_save_before">
        <observer name="sales_quote_item_save_before" instance="Vanguarda\RdStation\Observer\RdStation\Abandoned" />
    </event>
</config>