<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Vanguarda_RdStation::main_menu" title="Vangi" 
            module="Vanguarda_RdStation" sortOrder="20" 
            resource="Vanguarda_RdStation::vangi" />
        <add id="Vanguarda_RdStation::rdstation" title="Config Rd Station" 
            module="Vanguarda_RdStation" sortOrder="1" parent="Vanguarda_RdStation::main_menu" 
            action="config/vangi" 
            resource="Vanguarda_RdStation::configuration" />
    </menu>
</config>