<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Vanguarda_RdStation::vangi" title="VANG" 
            module="Vanguarda_RdStation" sortOrder="20" 
            resource="Vanguarda_RdStation::vangi" />

        <add id="Vanguarda_RdStation::title" title="Rd Station" 
            module="Vanguarda_RdStation" sortOrder="10" 
            parent="Vanguarda_RdStation::vangi" 
            resource="Vanguarda_RdStation::title" />

        <add id="Vanguarda_RdStation::config" title="Configurar" 
            module="Vanguarda_RdStation" sortOrder="1" parent="Vanguarda_RdStation::title" 
            action="adminhtml/system_config/edit/section/vanguarda_rdstation" 
            resource="Vanguarda_RdStation::config" />
    </menu>
</config>
