<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vanguarda" translate="label" sortOrder="250">
            <label>Vanguarda</label>
        </tab>
        <section id="vanguarda_news" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>vanguarda-separator</class>
            <label>Config</label>
            <tab>vanguarda</tab>
            <resource>Vanguarda_RdStation::news_config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
